<nav class="navbar mb-5" style="background-color: #222527;">
  <div class="container-fluid d-flex justify-content-center">
    <a href="/" class="navbar-brand mb-0 h1 text-white text-decoration-none icon-large">GAMES CATALOG</a>
    
    <a href="/">
      <i class="bi bi-joystick text-white" style="font-size: 1.5rem;"></i>
    </a>
  </div>
</nav>